@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f7f4ed;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }


  .scrollbar:hover {
    scrollbar-color: gray transparent; 
  }

}


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0, 0%, 87.1%;
    --foreground: 240 10% 3.9%;
    --card: 0, 0%, 97.1%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 0, 0%, 97.1%;
    --primary-foreground: 240 10% 3.9%;
    --primary-gray: 220, 43%, 70%;
    --secondary: 0, 0%, 0%;
    --secondary-foreground: 0, 0%, 100%;
    --muted: 0, 0%, 87.1%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0, 0%, 97.1%;
    --input: 240 10% 3.9%;
    --ring: 240 10% 3.9%;
    --play: 109.9 63.3% 52%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0, 0%, 97.1%;
    --sidebar-foreground: 240, 6.7%, 14.7%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0, 0%, 87.1%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 109.9 63.3% 52%;
    --set-set-orange: 16, 93%, 58%;

  }
  .dark {
    --background: 240, 6.9%, 28.2%;
    --foreground: 0 0% 98%;
    --card: 240, 6.7%, 14.7%;
    --card-foreground: 0 0% 98%;
    --popover: 240, 6.7%, 14.7%;
    --popover-foreground: 0, 0%, 98%;
    --primary: 240, 6.7%, 14.7%;
    --primary-foreground: 0, 0%, 98%;
    --primary-gray: 220, 60%, 1%;
    --secondary: 0, 0%, 97.1%;
    --secondary-foreground: 0, 0%, 0%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240, 6.9%, 28.2%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240, 6.7%, 14.7%;
    --input:  0 0% 98%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 240, 6.7%, 14.7%;
    --sidebar-foreground: 0, 0%, 97.1%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 109.9 63.3% 52%;
    --set-set-orange: 16, 93%, 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
